body{
    font-family: 'Raleway', sans-serif;
}

.menu{
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

h1, h2, h3, p{


}

.container{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

p{
    line-height: 1.5rem;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 480px) {
    .section-two-image-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .feature-image {
        width: 48.8%;        
    }
}

.drink-container{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.drink{
    width: 50%;
}