body{
    font-family: 'Raleway', sans-serif;
    margin:0;
}
.header{
    margin-top: 4em;
    text-align: center;
}

.menu{
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

h1{
    font-size: 4rem;
}

h1, h2, h3, p{
    color: #990000;


}

.container{
    display:flex;
    flex-direction: column;
    margin: 0 auto;

}

p{
    line-height: 2.5rem;
    color: black;
    font-size: 1.5rem;
}

.container{

    margin: 0 auto;
    text-align: center;
    align-items: center;
    /* border-top: 1px solid black; */
    padding-top: 1em;
    background-color: #ffc72c;
}
.drink-container{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    /* justify-content: space-evenly; */
}

.drink-img{
    width: 100%;
    /* padding-bottom: 1em; */
    /* padding-top: 3em; */
    border-top: 1px solid black;
    margin-top: 4em;
    margin-right: 50x;
}


.recipe-left{
    /* margin-left: 2em; */
    width: 100%;
    text-align: center;
}

.recipe-right{
    /* margin-left: 2em; */
    width: 100%;
    text-align: center;
    
}

.logo{
    width: 150px;
}

.footer-logo{
    display:flex;
    width: 150px;
    margin: 0 auto;
    align-items: center;
}

/* ----- MEDIA QUERIES -----

@media (min-width: 480px) {
    .section-two-image-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .feature-image {
        width: 48.8%;        
    }
} */

